@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif !important;
  background-image: url(Media/background_img.jpg);
  background-size: cover;
  object-fit: cover;
}

.display {
  background: linear-gradient(
    123.2deg,
    rgba(0, 0, 0, 0.16) 20.01%,
    rgba(0, 0, 0, 0.09) 75.54%
  );
  backdrop-filter: blur(18px);
}

input:focus {
  border: 2px solid #0000003e !important;
  outline: none !important;
  box-shadow: none !important;
}

button {
  background-color: #0000003e !important;
  border: #0000003e !important;
}

button:hover {
  background-color: #444 !important;
  border: #444 !important;
}

.fahrenheit {
  color: #444;
  text-decoration: none;
  font-size: 14px !important;
}

.fahrenheit:hover {
  color: #111;
  text-decoration: underline;
}

.unit {
  position: relative;
  top: -22px;
}

.current_icon {
  position: relative;
  top: -15px;
  width: 95px;
  height: auto;
  padding: 0;
}

.desc {
  color: #0000003e;
}

.week_day {
  border: 1px solid#0000003e !important;
  cursor: pointer;
}

.week_day:hover {
  box-shadow: 3px 3px 3px 3px #0000003e !important;
}

@media (max-width: 768px) {
  .display {
    width: 90%;
    padding: 2rem;
  }

  .unit {
    position: relative;
    top: -8px;
  }
}

@media (max-width: 576px) {
  .display {
    width: 100%;
    padding: 1rem;
  }
}
